<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" id="formpanel">
            <a href="VejaDelivery/Login" class="button scrolly">Inicio Sessión</a>
            <span class="contact100-form-title">
                Registrarse 
            </span>
            <!--div class="container">
                <div class="row">
                    <div class="form-check col-6">
                        <input id="Color-Check" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Personal
                        </label>
                    </div>
                    <div class="form-check col-6">
                        <input id="Color-Check" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Empresarial
                        </label>
                    </div>

                </div>
            </div-->
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <label class="label-input100" for="name">Nombre Completo</label>
                <input id="nameUser" class="input100" type="text" name="name" placeholder="Enter your name...">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <label class="label-input100" for="email">Email Address</label>
                <input id="email" class="input100" type="text" name="email" placeholder="Enter your email...">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <label class="label-input100" for="password">Contraseña</label>
                <input id="passwordI" class="input100" type="password" name="password" placeholder="password">
                <span class="focus-input100"></span>
                <a href=""></a>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <label class="label-input100" for="password">confirme Contraseña</label>
                <input id="passwordII" class="input100" type="password" name="password" placeholder="password">
                <span class="focus-input100"></span>
            </div>
            <div>
                <button id="buttonPassword1" style=" margin-left: auto; display: block; "><i class="col-2 fa fa-eye"></i></button>
                <button id="buttonPassword2" style=" margin-left: auto; display: none; "><i class="col-2 fa fa-eye-slash" aria-hidden="true"></i></button>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Description is required">
                <label class="label-input100" for="message">Descripción de su perfil</label>
                <textarea id="message" class="input100" name="message" placeholder="Write your description here, for your profile wall"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" id="SendNewUser">
                    Enviar
                </button>
            </div>
        </form>

        <div class="contact100-more flex-col-c-m" id="divPanel" style="background-image: url('../../assets/img/bg-01.jpg');">
            <div class="col-md-7" id="hover">
                <div class="text-img">
                   <figure><img class="imgsize" src="../../assets/img/img2.png" /></figure>
                </div>
             </div>
        </div>
    </div>
</div>